<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HTML Learn</title>
    <h1>
        <p id="text_1" >
            this is a text test
        </p>

    </h1>
    <script>
        window.alert("进入登陆页面");
        if (window.confirm("默认登陆账号：admin,密码：1234")) 
        {
            window.alert("若更改账号密码，请联系管理员");
        } 
        else 
        {
            while (1) 
            {
                window.alert("你已取消登陆！请退出页面！");
            }
        }
        document.getElementById("text_1").innerHTML = "this is a text test 2";
    </script>
    <form action="" method="post">
        <h1>
            登录页面:{{name}}
        </h1>
        <br>
        账号：
        <input type="text" name="name">
        <br>
        密码：
        <input type="password" name="password">
        <br>
        <input type="submit" name="submit">
        
    </form>
    
</head>
<body>
    
</body>
</html>