<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HTML Learn</title>
    <h1>
        <p id="text_1" >
        </p>
        运营商还是封了我的80端口
    </h1>
    <script>
        window.alert("要点确定哦！！");
        if (window.confirm("默认登陆账号：admin,密码：1234")) 
        {
            window.alert("若更改账号密码，请联系管理员");
        } 
        else 
        {
            while (1) 
            {
                window.alert("点取消干嘛，你现在退不出去了");
            }
        }
        document.getElementById("text_1").innerHTML = "哟，他点进来了";
    </script>
    <form action="" method="post">
        <h2>
            登录页面:{name}
        </h2>
        <br>
        账号：
        <input type="text" name="name">
        <br>
        密码：
        <input type="password" name="password">
        <br>
        <input type="submit" name="submit">
        
    </form>
    
</head>
<body>
    
</body>
</html>